.signup-container{
    margin: 5rem 1rem;
    
}

.signup-container > h1{
    color: rgb(0, 0, 128);
    margin-bottom: 2rem;
}

.signup-form-container{
    margin: auto;
    border: 1px solid rgb(0, 0, 128);
    border-radius: 1rem;
    box-shadow: 3px 6px rgba(0, 0, 128, 0.432);
    width: 30rem;
}

.signup-form{
    margin: 2rem 3rem 1rem 3rem;

}

.signup-credential-container{
    display: flex;
}

.signup-credential-container > div:first-child{
    margin-right: 0.5rem;
}
.signup-credential-container > div:last-child{
    margin-left: 0.5rem;
}

.signup-form fieldset{
    border: none;
    text-align: left;
}

.signup-form label{
    color: rgba(0, 0, 128, 0.74);
    display: inline-block;
    margin-bottom: 5px;
}

.signup-form input{
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid rgba(146, 146, 146, 0.541);
    border-radius: 5px;
    height: 3rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.signup-form input:focus{
    outline-color: rgba(0, 0, 128, 0.74);
}



.signup-form > .signup-button{
    background: rgba(0, 0, 128, 0.74);
    color: white;
    border: none;
    border-radius: 5px;
    width: 8rem;
    height: 3rem;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 1rem;
}

.signup-form > .signup-button:hover{
    cursor: pointer;
    border: 2px solid rgba(0, 0, 128, 0.74);
    background-color: white;
    color: rgba(0, 0, 128, 0.74);
}


.signin-redirect{
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}

.signin-redirect > .signin-redirect-link{
    text-decoration: none;
    font-weight: 700;
}

.signin-redirect > .signin-redirect-link:active{
    color: blue;
}
