.signin-container{
    margin: 5rem 1rem;
    
}

.signin-container > h1{
    color: rgb(0, 0, 128);
    margin-bottom: 2rem;
}

.signin-form-container{
    margin: auto;
    padding: 2rem 3rem 1rem 3rem;
    border: 1px solid rgb(0, 0, 128);
    border-radius: 1rem;
    box-shadow: 3px 6px rgba(0, 0, 128, 0.432);
    width: 30rem;
}

.signin-form fieldset{
    border: none;
}

.signin-form label{
    color: rgba(0, 0, 128, 0.74);
    margin-bottom: 5px;
}

.signin-form input{
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid rgba(146, 146, 146, 0.541);
    border-radius: 5px;
    height: 3rem;
    padding: 0 1rem;
}

.signin-form input:focus{
    outline-color: rgba(0, 0, 128, 0.74);
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgotPsw-link{
    text-decoration: none;
    color: rgb(122, 122, 122);
    font-weight: 700;
}

.signin-form > .signin-button{
    background: rgba(0, 0, 128, 0.74);
    color: white;
    border: none;
    border-radius: 5px;
    width: 8rem;
    height: 3rem;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 1rem;
}

.signin-form > .signin-button:hover{
    cursor: pointer;
    border: 2px solid rgba(0, 0, 128, 0.74);
    color: rgba(0, 0, 128, 0.74);
}


.new-signup{
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}

.new-signup > .new-signup-link{
    text-decoration: none;
    font-weight: 700;
}

.new-signup > .new-signup-link:active{
    color: blue;
}

.red{
    color: red;
}
