.coin-info-graph{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.graph-header{
    width: 100%;
    height: 10%;
}

.history-chart{
    width: 100%;
    height: 90%;
    margin-bottom: 1rem;
}



